<section class="our-personalized-advices presentation-pages">
    <div class="container">
        <hr class="hr-title-left"/>
    </div>
    <div class="container-fluid container-second-part">
        <div class="row row-second-part-presentation">
            <div class="col-xs-12">
                <h2 class="subtitle-page-presentation-pages">Des conseils à votre rythme</h2>
                <p class="text-content-presentation-pages">Parce que vous êtes tous différents, débutants ou confirmés, emploi du temps chargé ou possibilité d’y consacrer plus de temps, les conseils sont adaptés à vos besoins et à votre rythme, et notre expert vous guide sur les priorités de votre jardin.</p>
            </div>
        </div>
        <div class="row row-advice-1">
            <div class="col-sm-5">
                <img src="{{ asset('images/background3.jpeg') }}" class="img-responsive" alt="">
            </div>
            <div class="col-sm-offset-1 col-sm-6 col-advice-text">
                <h3 class="subtitle2-page-presentation-pages">Conseils essentiels</h3>
                <p class="text-content-presentation-pages">Vous recevez dans votre espace personnel une liste de tâches indispensables à effectuer dans votre jardin. Notre expert vous indique de manière facile et pédagogique ce que vous devez faire, et comment, pour être sûr d’effectuer les bons gestes au bon moment.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="hr-title"/>
    </div>
    <div class="container-fluid container-second-part">
        <div class="row row-advice-2">
            <div class="col-sm-6 col-advice-text">
                <h3 class="subtitle2-page-presentation-pages">Conseils bonus</h3>
                <p class="text-content-presentation-pages">Vous souhaitez ponctuellement passer davantage de temps dans votre jardin ? Dites-nous combien de temps vous souhaitez y consacrer et nous vous dirons quoi faire en fonction de la période !</p>
            </div>
            <div class="col-sm-offset-1 col-sm-5">
                <img src="{{ asset('images/background3.jpeg') }}" class="img-responsive" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="hr-title-left"/>
    </div>
    <div class="container-fluid container-second-part">
        <div class="row row-advice-3">
            <div class="col-sm-5">
                <img src="{{ asset('images/background3.jpeg') }}" class="img-responsive" alt="">
            </div>
            <div class="col-sm-offset-1 col-sm-6 col-advice-text">
                <h3 class="subtitle2-page-presentation-pages">Conseils diagnostics/alertes</h3>
                <p class="text-content-presentation-pages">Vous recevez des alertes météo en fonction de la région dans laquelle vous êtes, pour vous aider à avoir les bons gestes. Alerte canicule, quelles plantes faut-il arroser et comment le faire ? Alerte gel exceptionnel dans votre région, quelle plante protéger pendant cette vague de froid. Enfin, vous êtes guidés en cas de questions sur une évolution anormale de votre plante afin de diagnostiquer la cause et d’y remédier facilement !</p>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="hr-title"/>
    </div>
    <div class="container-fluid container-third-part">
        <div class="row">
            <div class="col-md-5 col-third-part-left">
                <h2 class="subtitle-page-presentation-pages">Une interface conseil pratique et souple</h2>
                <p class="text-content-presentation-pages">A vous de paramétrer la fréquence d’envoi des conseils pour qu’elle soit adaptée à votre rythme (mensuel, bimensuel, hebdomadaire).

                    Enfin validez au fur et à mesure les tâches effectuées, vous serez ainsi plus clair sur ce qu’il vous reste à faire dans votre jardin.

                    Avec Draw Me A Garden, entretenir son jardin est un jeu d’enfant.</p>
            </div>
            <div class="col-md-offset-1 col-md-6 col-third-part-right">
                <h2 class="subtitle-page-presentation-pages">Un an de conseils personnalisés offert</h2>
                <p class="text-content-presentation-pages">La première année de conseils est offerte lors de l’installation de votre jardin pour garantir un bon démarrage et lui donner tout son potentiel. A l’issue de cette période d’un an, vous pourrez prolonger votre abonnement au tarif de 96 euros par an, soit 8 euros par mois.

                    Des conseils personnalisés et adaptés pour vous guider dans les étapes clés du développement de votre jardin.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="hr-title-left"/>
    </div>
    <div class="container-fluid container-last-part">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-content-presentation-pages">{{ 'trans_our_personalized_advices_text_end_page'|trans }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-btn">
                <a href="" class="btn btn-green-dark">{{ 'trans_our_personalized_advices_btn_community'|trans }}</a>
            </div>
        </div>
    </div>
</section>